{% if formrow.vars.block_prefixes[1] == "hidden" %}
    {{ form_widget(formrow) }}
{% else %}
    <div class="form-group" for="{{ formrow.vars.name }}">
        <div class="form-inline">{{ form_label(formrow) }}</div>
        <div class="form-inline form-require">{% if formrow.vars.required %}
                <span class="required" title="Dit veld is verplicht">*</span>
            {% endif %}</div>
        <div class="form-inline formwidget">{{ form_widget(formrow) }}</div>
        {% if formrow.vars.errors.valid() %}
            <div class="form-inline form-error">{{ formrow.vars.errors.current().message }}</div>
        {% endif %}
    </div>
{% endif %}
