<h1>{{ title }}</h1>
{% if fieldSpec is defined %}
  <div class="form-horizontal" id="GuardStats">
    <fieldset class="editform-fieldset" for="GuardStats_show">
      {% for label, field in fieldSpec %}
        <div class="form-group" for="{{ field }}">
          <label for="GuardStats_{{ field }}">{{ label|trans({}, 'metaclass_auth_guard') }}</label>
          <div class="form-value">
            {{ fieldValues[field] }}
          </div>
        </div>
      {% endfor %}
    </fieldset>
  </div>
{% endif %}
{% if form is defined %}
  <form id="{{ form.vars.name }}" class="form-inline" role="form" action="{{ path(routes.this, action_params) }}" method="post" enctype="multipart/form-data">
    <fieldset class="editform-fieldset" for="GuardStats_period">
      <legend class="fieldset-legend">{{ form.vars.label|trans({}, 'metaclass_auth_guard') }}</legend>
      <div class="form-group">
        {% for eachError in form.vars.errors %}
          <div class="form-error">{{ eachError.message }}</div>
        {% endfor %}
      </div>
      {% for formrow in form.children %}
        {{ include("MetaclassAuthenticationGuardBundle:Entity:editrow.html.twig") }}
      {% endfor %}

      <input type="submit"  class="btn btn-default" value="{{ 'StatsPeriod.submit'|trans({}, 'metaclass_auth_guard') }}"/>
    </fieldset>
  </form>
{% endif %}
{% if columnSpec is defined %}
  <div class="table-responsive">
    <table class="table table-statistics">
      <thead>
      <tr>
        <th colspan="{{ blockedHeaderIndent }}">&nbsp;</th>
        <th colspan="4"> {{ 'secu_requests.blockedColumns'|trans({}, 'metaclass_auth_guard') }}</th>
      </tr>
      <tr>
        {% for label, key in columnSpec %}
          <th>{{ label|trans({}, 'metaclass_auth_guard') }}</th>
        {% endfor %}
      </tr>
      </thead>
      <tbody>
      {% for entity in items %}
        <tr>
          {% for label, key in columnSpec %}
            <td>{% if (key == 'ipAddress' and route_history is defined) %}
              <a title="{{ labels.show|trans({}, 'metaclass_auth_guard') }}" href="{{ path(route_history, {'ipAddress': entity.ipAddress, 'StatsPeriod[From]': limits.From, 'StatsPeriod[Until]': limits.Until }) }}">
                {{ entity[key] }}</a>
              {% elseif (key == 'username' and route_byUsername is defined) %}
                <a title="{{ labels.show|trans({}, 'metaclass_auth_guard') }}" href="{{ path(route_byUsername, {'username': entity.username, 'StatsPeriod[From]': limits.From, 'StatsPeriod[Until]': limits.Until }) }}">
                  {{ entity[key] }}</a>
              {% else %}
                {{ entity[key] }}
              {% endif %}
            </td>
          {% endfor %}
        </tr>
      {% endfor %}
      </tbody>
    </table>
  </div>
{% endif %}